.link-button, .link-button:active {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

/* input:-internal-autofill-selected {
  background-color: white !important;
} */

/* .input-field input {
  background-color: transparent !important;
} */
/* input:-webkit-autofill {
  background-color: white !important;
} */