.link-button, .link-button:active {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.link-button:focus {
  background-color: transparent;
}

/* issue: in chrome autofilled field is lightblue
input.input-field  {
  background-color: transparent !important;
} */

input[type=text]:not(.invalid):focus:not([readonly]) ~ label {
  color: #26a69a;
}

.form {
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.form-button {
  margin-left: 2em;
  margin-right: 0.75em;
}

.form-error {
  color: red;
}