.link-button,
.link-button:active {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 160%;
  color: inherit;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.link-button:focus {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

input[type='text']:not(.invalid):focus:not([readonly]) ~ label {
  color: #26a69a;
}

.form {
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.form__submit {
  margin-left: 2em;
  margin-right: 0.75em;
}

.form__error {
  color: red;
}

@keyframes scale-odd {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.balance-odd {
  animation-name: scale-odd;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.53, 0.01, 0.36, 1.63);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes scale-even {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.balance-even {
  animation-name: scale-even;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.53, 0.01, 0.36, 1.63);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.filter-expandable {
  border: unset;
  box-shadow: unset;
  margin: 0 0 0.5rem 0;
}
.filter-expandable .collapsible-header {
  border-bottom: unset;
  text-decoration: underline;
  padding: 0 5px;
}
.filter-expandable .collapsible-body {
  padding: unset;
  border-bottom: unset;
  box-sizing: inherit;
}
